<h1>Todo update</h1>

<div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Required fields are invalid empty/invalid</div>

<div class="container">
    <form (ngSubmit)="!todoForm.invalid && updateTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label>Description</label>
            <input type="text" [(ngModel)]="todo.description" name="Description" required="required" class="form-control" placeholder="Description">
        </fieldset>

        <fieldset class="form-group">
            <label>Target Date</label>
            <input type="date" [ngModel]="todo.targetDate | date:'yyy-MM-dd' "
                            (ngModelChange)="todo.targetDate = $event" name="TargetDate" required="required" class="form-control">
        </fieldset>

        <button type="sumbit" class="btn btn-success" >Save changes</button>
        <button class="btn btn-danger" (click)="goBack()">Cancel</button>
    </form>

</div>
